.container {
  display: flex;
  flex-direction: column;
  padding: 5rem 3rem;
  background-color: var(--navyblue);
  color: white;
  gap: 1rem;
  align-items: center;
}

.container p:first-child {
  font-size: 2rem;
  align-self: flex-start;
}

.cards {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin-top: 3rem;
}

.evenContainer,
.oddContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 43%;
  height: 100%;
  border-radius: 3rem;
  overflow: hidden;
  gap: 5rem;
}
.oddContainer {
  margin-top: 35%;
}

.line {
  width: 100%;
  height: 1px;
  background-color: white;
}

.btn {
  color: var(--orange);
  background-color: transparent;
  border: none;
  border: 1px solid var(--orange);
  border-radius: 3rem;
  cursor: pointer;
  transition: linear 0.3s;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  /* margin: 2rem 0; */
  z-index: 2;
  align-self: center;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color: var(--orange);
  color: white;
  transition: linear 0.3s;
  z-index: -1;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.btn:hover {
  color: white;
}

.btn:hover::before {
  height: 175%;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 2rem;
  }

  .container p:first-child {
    font-size: 2rem;
  }

  .cards {
    width: 100%;
    flex-direction: column;
    margin: 1rem;
    padding: 0.5rem;
  }

  .evenContainer,
  .oddContainer {
    width: 100%;
    border-radius: 1rem;
  }

  .oddContainer {
    margin-top: 0;
  }
}
