.container {
  display: flex;
  flex-direction: column;
  padding: 5rem 3rem;
  background-color: var(--navyblue);
  color: white;
  gap: 1rem;
}

.container p:first-child {
  font-size: 1.75rem;
}

.btn {
  color: var(--orange);
  background-color: transparent;
  border: none;
  border: 1px solid var(--orange);
  border-radius: 3rem;
  cursor: pointer;
  transition: linear 0.3s;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  /* margin: 2rem 0; */
  z-index: 2;
  align-self: center;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color: var(--orange);
  color: white;
  transition: linear 0.3s;
  z-index: -1;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.btn:hover {
  color: white;
}

.btn:hover::before {
  height: 175%;
}
