.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  /* background-color: var(--navyblue); */
}

.text {
  font-size: 3.5rem;
  text-align: center;
  background: linear-gradient(90deg, orange, var(--orange));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  /* background-color: var(--navyblue); */
}

.specialContainer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
