.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  border: 1px solid white;
  height: 400%;
  padding: 1rem;
  border-radius: 3rem;
  overflow: hidden;
  background-color: #fff;
  color: var(--navyblue);
}

.container::before:nth-child(even) {
  margin-top: 50%;
  border: 3px solid white;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
}

.textContainer small {
  font-size: 1rem;
}

.imgContainer {
  display: flex;
  align-items: center;
  height: 50%;
}

.textContainer {
  height: 50%;
  padding: 1.85rem;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    height: 45rem;
    padding: 0rem;
  }

  .container:nth-child(even) {
    margin-top: 2rem;
  }
  .container:nth-child(odd) {
    margin-top: 2rem;
  }

  .textContainer {
    gap: 1rem;
    font-size: 1rem;
  }
}
