.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 45%;
  gap: 3rem;
  margin-bottom: 2rem;
}

.container:nth-child(even){
  margin-top: 10rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
}

.textContainer small {
  font-size: 1rem;
}

.imgContainer {
  display: flex;
  align-items: center;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

@media (max-width: 435px){
  .container{
    width: 100%;
  }
  .container:nth-child(even){
    margin-top: 2rem;
  }
  .container:nth-child(odd){
    margin-top: 2rem;
  }

  .textContainer{
    gap: 1rem;
  }
}