.container {
  display: flex;
  flex-direction: column;
}

.logo {
  padding: 0rem 2.5rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  height: 70vh;
}

.wrapper .textContainer div {
  font-size: 1.5rem;
}
.wrapper .textContainer p {
  font-size: 2.25rem;
  text-transform: capitalize;
}

.wrapper .textContainer p:last-child {
  font-weight: 600;
}

.hero {
  display: flex;
  flex-direction: column;
}

.imgContainer img {
  width: 100%;
}

.bouncingBall {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 4rem;
  cursor: pointer;
  margin-top: 2rem;
}

.bouncingBallInner {
  width: 2rem;
  height: 3rem;
  border: 2px solid var(--orange);
  border-radius: 3rem;
  animation: bounce 0.5s infinite alternate;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  color: var(--orange);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1rem);
  }
}

.about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* height: 100vh;
  overflow-y: scroll; */
  position: relative;
}

.boxContainer {
  height: 100%;
  width: 50%;
}

.box,
.box2 {
  height: 100vh;
  /* border: 1px solid black; */
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-radius: 10px;
}

.box div p:first-child {
  font-size: 1.25rem;
}

.box div p:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 600;
}

.box2 div p:first-child {
  font-size: 1.5rem;
  font-weight: 600;
}

.box2 div p:nth-child(2) {
  font-size: 1.25rem;
}

.gifsContainer {
  top: 0;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50%;
  top: 0;
}

.gifsContainer div svg {
  width: 75%;
}
