.container {
  background-color: #fff;
  overflow: hidden;
}

.wrapper {
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 150vw;
  height: 100vh;
  display: flex;
  transform-style: translate3d(0, 0, 0);
  transition: all 0.3s ease;
}

.service {
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  border: 1px solid #ccc;
}

.servicesRes {
  display: none;
}

.serviceRes {
  width: 100%;
  border-radius: 30px;
  background-color: #f0f0f0;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 3rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  gap: 1rem;
}

.service:first-child {
  background-color: var(--light-blue);
}

.service:nth-child(2) {
  background-color: var(--light-orange);
}

.service:nth-child(3) {
  background-color: var(--light-green);
}

.service:nth-child(4) {
  background-color: var(--light-red);
}

.service:hover:first-child {
  background-color: var(--blue);
  color: #fff;
}

.service:hover:nth-child(2) {
  background-color: var(--orange);
  color: #fff;
}

.service:hover:nth-child(3) {
  background-color: var(--green);
  color: #fff;
}

.service:hover:nth-child(4) {
  background-color: var(--red);
  color: #fff;
}

.btn,
.desc,
.image {
  display: none;
}

.service:hover .btn {
  display: inline-block;
}

.service:hover .desc {
  display: inline-block;
}

.service:hover .image {
  display: inline-block;
}

.btn {
  color: var(--navyblue);
  background-color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: linear 0.3s;
  position: relative;
  overflow: hidden;
}

.btnRes {
  color: var(--navyblue);
  /* color: #fff; */
  border: none;
  border: 1px solid var(--navyblue);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: linear 0.3s;
  position: relative;
  overflow: hidden;
}

.content h4{
  font-size: 2.5rem;

}

.content .desc{
  font-size: 1rem;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .container {
    width: 100vw;
  }
  .wrapper {
    display: none;
  }

  .servicesRes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
}
