.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 3rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  font-size: 1.75rem;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #000;
}

.container h1 {
  font-size: 2.5rem;
  color: #000;
  font-weight: normal;
  margin: 1rem 0;
}

.container > p {
  color: #000;
  font-size: 1.5rem;
}

.brands {
  display: flex;
  gap: 8rem;
  position: relative;
  margin: 5rem 0;
  height: 200px;
  width: 85%;
  overflow: hidden;
}

.brand {
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  top: 0;
  left: 100%;
  padding: 0 2rem;
  animation-name: move;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.brand:nth-child(1) {
  animation-delay: calc(15s / 3 * (3 - 1) * -1);
}

.brand:nth-child(2) {
  animation-delay: calc(15s / 3 * (3 - 2) * -1);
}

.brand:nth-child(3) {
  animation-delay: calc(15s / 3 * (3 - 3) * -1);
}

.brand img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

/* Animation */
@keyframes move {
  to {
    left: -100px;
  }
}

/* Media Queries */
@media (max-width: 1024px) {
  .container {
    height: auto;
    margin: 4rem 0;
  }
  .brands {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    height: 100%;
    margin: 0rem;
    padding: 1.5rem;
  }
  .container h1 {
    font-size: 1.5rem;
  }
  .container > p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .brands {
    margin: 1rem 0;
  }
  .brand {
    animation-duration: 15s;
  }
  .brand img {
    width: 6rem;
    height: 10rem;
    margin: 0 5rem;
  }
}
