.container {
  display: flex;
  align-items: center;
  justify-content: space-around !important;
  gap: 3rem;
  margin: 1rem 5rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  padding: 3rem;
  font-size: 1.25rem;
}

.textContainer .header {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.line {
  height: 1px;
  background-color: black;
}

.imgContainer {
  width: 50%;
  padding: 3rem;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.imgContainer img {
  width: 70%;
  height: 100%;
}

.btn {
  color: var(--orange);
  background-color: transparent;
  border: none;
  border: 1px solid var(--orange);
  padding: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: linear 0.3s;
  position: relative;
  overflow: hidden;
  margin: 2rem 0;
  font-size: 1rem;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color: var(--orange);
  color: white;
  transition: linear 0.3s;
  z-index: -1;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.btn:hover {
  color: white;
}

.btn:hover::before {
  height: 175%;
}
