:root {
  --orange: #f15a2b;
  --navyblue: #19325c;
  --green: #f89820;
  --blue: #29878f;
  --beige: #f5d49e;
  --red: #e51f23;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  cursor: url("/cursor.svg"), auto;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.1rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--orange);
  border-radius: 0.1rem;
}

::-webkit-scrollbar-track {
  background-color: var(--navyblue);
}
