.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.particlesContainer canvas,
.particlesContainer canvas[data-engine="three.js"] {
  width: 100% !important;
  height: 100% !important;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
