.container {
  display: flex;
  align-items: center;
  color: black;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  font-size: 3rem;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
}

.texts > p {
  margin: 0 !important;
  padding: 0;
  line-height: 0%;
}

.imgContainer {
  position: relative;
  width: 30%;
  height: 30%;
  top: 0;
}

.header {
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.5rem;
}

.contactBtn {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: none;
  border-radius: 3rem;
  background-color: var(--orange);
  color: white;
  gap: 1rem;
  transition: scale 0.5s ease;
}

.contactBtn span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactBtn:hover {
  scale: 1.1;
}

.header img {
  align-self: flex-start;
}

.btns {
  display: flex;
  gap: 2rem;
}

.btns button {
  transition: scale 0.5s ease;
  font-weight: 500;
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.5rem;
  cursor: pointer;
}

.btns button span {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btns button:first-child {
  background-color: var(--orange);
  color: white;
}

.btns button:hover {
  scale: 1.1;
}

.btns button:last-child {
  color: var(--orange);
  background-color: transparent;
  border: 2px solid var(--orange);
}

.bouncingBall {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.bouncingBallInner {
  width: 2rem;
  height: 2rem;
  border: 2.5px solid var(--orange);
  border-radius: 50%;
  animation: bounce 0.5s infinite alternate;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: var(--orange);
}

.videoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gifstyling {
  height: 40rem;
  width: 40rem;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1rem);
  }
}

.small {
  display: none;
}

@media (max-width: 768px) {
  .header {
    padding: 1rem 0.5rem;
  }

  .wrapper {
    flex-direction: column;
  }

  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
  }

  .btns button {
    font-size: 0.8rem;
  }

  .textContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .videoContainer {
    width: 80%;
  }

  .texts {
    text-align: center;
    font-size: 3rem;
  }
  .texts div span {
    font-size: 1.5rem !important;
  }
  .subheading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .subheading div span {
    font-size: 0.8rem !important;
    text-align: center;
  }
  .gifstyling {
    width: 25rem;
    height: 25rem;
  }
  .large {
    display: none;
  }
  .small {
    display: flex;
    padding: 1rem 0;
  }
  .rocket {
    width: 2rem;
  }
}
