.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.imgContainer,
.textContainer,
.form {
  flex: 1;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
}

.imgContainer img {
  width: 100%;
  height: 100%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  font-size: 1.25rem;
  background-color: var(--blue);
  color: white;
}

.textContainer p:first-child {
  font-size: 1.75rem;
  font-weight: 600;
}

.form {
  width: 30%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
}

.form input,
.form textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

.form button {
  padding: 0.5rem;
  color: #fff;
  background-color: var(--orange);
  border: none;
  cursor: pointer;
}
