.navbar {
  position: fixed;
  width: 1.5rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
  right: 0;
}

.container {
  height: 100%;
  position: absolute;
  right: 0;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.navContainer {
  width: 100%;
  height: 75%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  background-color: var(--blue);
  transform: translateX(60%);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
  padding: 1rem;
}

.navContainer svg {
  color: white;
}

.container:hover {
  width: 6rem;
}

.linksContainer {
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  position: absolute;
  z-index: 1;
  animation: slide 0.7s ease-in-out;

  display: flex;
}

.slideOut {
  animation: slideOutAnimation 0.7s ease-in-out;
}

.logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 3rem;
  flex: 1;
}

.logo img {
  width: 30%;
  height: 15%;
}

.link {
  display: flex;
  align-items: center;
  position: relative;
  /* width: 50%; */
}

.large{
  width: calc(100% + 30rem);

}

.link:nth-child(3) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: calc(100% + 30rem);
  position: relative;

}

.dropDown {
  display: none;
  position: absolute;
  left: 18%;
  top: -40%;
  background-color: var(--blue);
  width: 25rem;
  height: 10rem;
  z-index: 10;
  margin-left: 3rem;
  animation: bounce 0.7s ease-in-out;
}

@keyframes slideDown {
  from {
    top: -100%;
  }
  to {
    top: 10%;
  }
}

.large:hover .dropDown {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bounceDot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  display: none;
  animation: bounce 1s ease-in-out;
}

.link:hover .bounceDot {
  display: block;
}

.links {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  font-size: 3rem;
  flex: 1;
}

.links a,
.links p {
  color: white;
  text-decoration: none;
  margin-left: 1.5rem;
}

.links p {
  display: flex;
  align-items: center;
}

.links p span {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropDown p {
  color: white;
  font-size: 1.5rem;
  margin-left: 1.5rem;
}

@keyframes slide {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@keyframes slideOutAnimation {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(10px);
    opacity: 1;
  }
  50% {
    transform: translateY(-10px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounceBtn {
  0% {
    transform: translateY(20px);
    opacity: 1;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.small {
  display: none;
}

.cta  {
  padding: 5rem 3rem;
  flex: 0.08;
  display: flex;
  align-items: flex-end;
}

.cta button{
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;  
  background-color: var(--orange);
  color: white;
  font-size: 1rem;
  border-radius: 50% !important;
  animation: bounceBtn 1.5s ease-in-out;
}

@media (max-width: 768px) {
  .logo{
    flex: 0;
  }
  .container {
    width: 5rem !important;
  }
  .navContainer svg {
    position: absolute;
    left: 7%;
    padding: 0rem;
    /* width: 0.813rem; */
  }

  .linksContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .links {
    font-size: 1.5rem;
  }

  .logo {
    margin: 0;
    padding: 0;
  }

  .large {
    display: none;
  }

  .small {
    display: flex;
  }

  .dropDownSm a {
    font-size: 1rem !important;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 1rem;
  }
  .dropDownContainer {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100vw;
  }

  .logo img {
    width: 100%;
    height: 100%;
  }

  .links {
    height: fit-content;
    gap: 1rem;
    flex: 0;
  }

  .cta{
    padding: 0rem;
    flex: 0;
    /* width: 100%; */
    align-items: flex-end;
  }

  .cta button{
      position: absolute;
      bottom: 3%;
      right: 3%;
  }

}
