.logo {
  padding: 1rem 2.5rem;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1.5rem 3rem;
  flex-direction: row-reverse;
  padding: 2rem;
  border-radius: 2rem;
  position: relative;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.textContainer,
.modelContainer {
  width: 50%;
}

.bouncingBall {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.bouncingBallInner {
  width: 2rem;
  height: 2rem;
  border: 2.5px solid var(--orange);
  border-radius: 50%;
  animation: bounce 0.5s infinite alternate;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: var(--orange);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1rem);
  }
}

.second {
  background-color: var(--green);
  color: white;
  text-align: center;
  padding: 5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  gap: 1rem;
  height: 50vh;
  flex-direction: column;
}

.industry {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1.5rem 3rem;
  padding: 2rem;
  border-radius: 2rem;
  position: relative;
  height: 100vh;
}

.industry div p,
.industry div small,
.industry div li {
  margin: 1rem;
}

.gifsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  margin-top: 2rem;
}

.subIndustry {
  width: 50%;
}

/* Horizontal Scrolling for cards in cards section */
.cards {
  height: 100px;
  width: 100px;
  background-color: #f15a2b;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0rem;
  }
  .hero {
    flex-direction: column;
    margin: 0;
    padding: 1rem;
  }
  .modelContainer,
  .textContainer {
    width: 100%;
    padding: 1rem;
    height: 30%;
  }

  .textContainer h1,
  .second p {
    font-size: 2rem;
  }

  .industry {
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 2rem;
    flex-direction: column;
  }

  .subIndustry {
    width: 100%;
  }
}
