.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.logo {
  padding: 1rem 2.5rem;
}

.wrapper {
  display: flex;
  padding: 2rem 5rem;
  gap: 3rem;
}

.dropDown {
  width: 50%;
  display: flex;
}

.content {
  width: 50%;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}

.desc {
  margin-top: 1.5rem;
}

.line {
  width: 60%;
  border: 0.5px solid #000;
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .container {
    height: 100%;
    margin-top: 2rem;
  }
  .wrapper {
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    gap: 1rem;
  }

  .title div p {
    line-height: 1.15 !important;
  }

  .content,
  .dropDown {
    width: 100%;
    padding: 0rem 2rem;
    margin: 0;
  }
}
