.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
}

.logo {
  padding: 1rem 2.5rem;
}

.wrapper {
  display: flex;
  padding: 2rem 5rem;
  gap: 3rem;
}

.dropDown {
  width: 50%;
  display: flex;
}

.content {
  width: 50%;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}

.desc {
  margin-top: 1.5rem;
}

.line {
  width: 60%;
  border: 0.5px solid #000;
  margin: 1rem 0;
}
